<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Prontuário</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Prontuário do Paciente</h1>
    
    <p th:if="${erroDesc}" th:text="${erroDesc}" style="color: red;"></p>
    <p th:if="${erroData}" th:text="${erroData}" style="color:red;"></p>

    <form th:action="@{/cadastro-prontuario}" th:object="${prontuario}" method="post" onsubmit="return validarData()">
        <label for="paciente">Paciente:</label>
        <select id="paciente" name="paciente.id" required>
            <option value="">Selecione o paciente</option>
            <option th:each="usuario : ${usuarios}"
                    th:value="${usuario.id}"
                    th:text="${usuario.nome}"></option>
        </select><br>
            
        <label for="data">Data do atendimento:</label>
        <input type="text" id="data" name="dataBr" placeholder="DD/MM/AAAA" required>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" th:field="*{descricao}" rows="5" cols="40"></textarea><br>

        <button type="submit">Salvar Prontuário</button>
    </form>

    <a th:href="@{/painel}">
        <button>Voltar</button>
    </a>
</body>
</html>