<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form onsubmit="return validarCadastro()">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br>

        <label for="tipo">Tipo de usuário:</label>
        <select id="tipo" name="tipo">
            <option value="paciente">Paciente</option>
            <option value="medico">Médico</option>
        </select><br>

        <button type="submit">Cadastrar</button>
    </form>
    <a th:href="@{/}">
        <button>Voltar</button>
    </a>

    <script>
        function validarCadastro() {
            const nome = document.getElementById("nome").value;
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;
            if (nome === "" || email === "" || senha === "") {
                alert("Todos os campos devem ser preenchidos.");
                return false;
            }
            
            alert("Cadastro validado com sucesso!");
            window.location.href = "/painel";
            
            return false;
        }
    </script>
</body>
</html>