<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Histórico de Atendimentos</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Histórico de Atendimentos</h1>
    <ul>
        <li>Consulta em 05/04/2025 - Dr. João - Acompanhamento de pressão arterial</li>
        <li>Consulta em 12/03/2025 - Dra. Maria - Retorno de exames laboratoriais</li>
    </ul>
    <a th:href="@{/painel}">
        <button>Voltar</button>
    </a>
</body>
</html>