<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Login</h1>
    <form onsubmit="return validarLogin()">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br>

        <button type="submit">Entrar</button>
    </form>
    <a th:href="@{/}">    
        <button>Voltar</button>
    </a>

    <script>
        function validarLogin() {
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;
            if (email === "" || senha === "") {
                alert("Preencha todos os campos.");
                return false;
            }
            
            alert("Login validado com sucesso!");
            window.location.href = "/painel";
            
            return false;
        }
    </script>
</body>
</html>