<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProntVita</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Bem-vindo ao sistema!</h1>
    <p>Seu prontuário médico digital.</p>
    <a th:href="@{/cadastro-prontuario}">
        <button>Cadastrar prontuário</button>
    </a>
    <br>
    <a th:href="@{/historico}">
        <button>Ver histórico de pacientes</button>
    </a>
</body>
</html>